h1 {
    font-size: 60px;
    text-decoration: underline;
    text-align: right;
    color: dimgray;
  }
  
  p, li {
    text-align: right;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 24px;
    text-align: left;
  }
  p, li {
    text-align: left;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  blockquote{
    text-align: left;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color:goldenrod;
  }
  image{
  }